<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>

    <style>
    #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
    }
    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
    </style>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <form action="/add">
      <label for="img">Select images:</label>
      <input type="file" id="img" name="img" accept="image/*" multiple>
      <input type="submit">
    </form>
<!--    <video id="video" width="640" height="480" autoplay></video>-->
<!--    <button id="snap">Snap Photo</button>-->
<!--    <canvas id="canvas" width="640" height="480"></canvas>-->
<!--    <script>-->
<!--        var video = document.getElementById('video');-->

<!--        // Get access to the camera!-->
<!--        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {-->
<!--            // Not adding `{ audio: true }` since we only want video now-->
<!--            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {-->
<!--                //video.src = window.URL.createObjectURL(stream);-->
<!--                video.srcObject = stream;-->
<!--                video.play();-->
<!--            });-->
<!--        }-->
<!--        var canvas = document.getElementById('canvas');-->
<!--        var video = document.getElementById('video');-->

<!--        // Trigger photo take-->
<!--        $("#snap").click(function(){-->
<!--            var context = canvas.getContext('2d');-->
<!--            data = {"photo": context}-->
<!--            $.post("/add", function(data, status){-->
<!--                alert("Data: " + data + "\nStatus: " + status);-->
<!--            }, "image/jpeg");-->
<!--        });-->
<!--    </script>-->

</body>
</html>